#todo-div {
    position: absolute;
    width: 300px;

    top: 70px;
    right: -270px;

    font-family: Arial, Helvetica, sans-serif;

    &.expand {
        right: 0px;
    }

    #todo-sidebar-button {
        position: relative;
        float: left;

        top: 50px;
        width: 29px;
        height: 150px;
    
        background-color:#DDFFFF;
    
        cursor: pointer;
    
        border-style: solid;
        border-color: #2196F3;
        border-width: 1px 0px 1px 1px;
        border-radius: 8px 0px 0px 8px;
    }

    #todo-menu {
        position: relative;
        float: right;

        top: 0px;
        width: 269px;
        height: 500px;

        background-color: #DDFFFF;

        border-style: solid;
        border-color: #2196F3;
        border-width: 1px 0px 1px 1px;
        border-radius: 8px 0px 0px 8px;

        #todo-header {
            line-height: 30px;
            height: 30px;

            padding: 1px 5px 0px 15px;
            border-bottom: 3px solid rgb(6, 29, 70);

            .button {
                line-height: 30px;
                width: 20px;
                float: right;
                cursor: pointer;
            }
        }

        #todo-item-list {
            height: 465px;
            overflow: scroll;

            .todo-item-wrapper {
                line-height: 30px;
                height: 30px;
                padding: 5px 5px 5px 10px;
                margin: 2px 2px 2px 2px;
    
                /* temp code */
                border: 1px solid black;
                border-radius: 2px 2px 2px 2px;
    
                user-select: none;

                div.desc {
                    width: 200px;
                    float: left;

                    span {
                        display: block;
                        cursor: pointer;
                            
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        overflow-wrap: break-word;
                    }
    
                    span.empty {
                        font-style: italic;
                        color: darkgrey;
                    }
    
                    span.done {
                        text-decoration: line-through;
                    }
    
                    input[type=text] {
                        display: none;
                    }
    
                    input[type=text].edit {
                        line-height: 24px;
                        
                        display: initial;
                        font-size: 16px;
                    }
                }
    
                .button {
                    line-height: 30px;
                    width: 20px;
                    float: right;
                    cursor: pointer;
                }
            }
        }
    }
}