<!DOCTYPE html>
<html>
    <head>
        <title>URL shortener</title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

        <script tpye="text/javascript">
            var app = angular.module('url-shortener', []);

            app.controller('shortener', function($scope, $http) {
                $scope.originalUrl = '';
                $scope.shortenedUrl = '';

                $scope.convert = function () {
                    if (!$scope.originalUrl) {
                        return;
                    }

                    $http({
                        method: 'POST',
                        url: '/api/url',
                        data: { originalUrl: $scope.originalUrl }
                    }).then((response) => {
                        $scope.shortenedUrl = window.location.href + response.data.shortened;
                    });
                };
            });
        </script>
    </head>

    <body>
        <div ng-app="url-shortener" ng-controller="shortener">
            Input URL:<br />
            <input type="text" ng-model="originalUrl" /><br />

            <input type="button" value="Convert" ng-click="convert()" />
            <br /><br />

            Shortened URL:<br />
            <span>{{ shortenedUrl }}</span>
        </div>
    </body>
</html>